entrypoint = "src/App.jsx"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5173
externalPort = 80

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
